@model PriceMaster.ViewModels.ForgotPasswordViewModel

<h1>Forgot Password</h1>

@using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <button type="submit" class="btn btn-primary">Recover Password</button>
}